asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
dj-database-url==2.1.0
Django==5.0.3
django-cors-headers==4.3.1
django-filter==23.5
django-rest-framework-mongoengine==3.4.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
idna==3.6
mongoengine==0.28.2
pillow==10.2.0
PyJWT==2.8.0
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pymongo==4.6.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rest-framework-simplejwt==0.0.2
sqlparse==0.4.4
typing_extensions==4.10.0
urllib3==2.2.1
mongoengine==0.28.2
djangorestframework-simplejwt==5.3.1
django-widget-tweaks==1.5.0
drf-yasg==1.21.7
django-rest-framework-mongoengine==3.4.1
django-cors-headers==4.3.1
pymongo==4.6.2
virtualenv==20.25.1
